#jumbotron{
    width: 100%;
    height: 500px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        //vertical-align: middle;
    }
}

main{
    background-color: #1C1C1C;
    color:white;
}