@import 'header';
@import 'jumbotron';
@import 'footer';
@import 'homepage';
@import 'seriepage';

// regole generali
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}
ul li{
    list-style-type: none;
}
a{
    color:inherit;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
}
.bg-blue-text-white{
    background-color: #0282F9;
    color:white;
}
.small-text{
    font-size: 0.7rem;
}
.blue-text{
    color: #0282F9;
}
.darkblue-text{
    color: #003F5E;
}
.lightgreen-text{
    color: #AAE75D;
}
.gray-text{
    color: #9FADC6;
}
button{
    cursor: pointer;
}


