header #partners .container {
  padding: 5px 0;
  justify-content: flex-end;
}

header #partners .container div {
  margin-left: 50px;
}

header #navbar-menu .container {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header #navbar-menu .container .logo {
  width: 80px;
}

header #navbar-menu .container .logo img {
  width: 100%;
}

header #navbar-menu .container .menu ul {
  display: flex;
}

header #navbar-menu .container .menu ul li {
  margin: 0 10px;
}

header #navbar-menu .container .menu ul li.active {
  color: #0282F9;
  border-bottom: 2px solid #0282F9;
}

header #navbar-menu .container .searchbar {
  border-bottom: 2px solid #0282F9;
}

header #navbar-menu .container .searchbar input {
  width: 100px;
  border: none;
}

footer #useful-links {
  color: #959595;
  padding: 40px 0 0;
  background-image: url("/storage/assets/images/footer-bg.jpg");
}

footer #useful-links .container {
  justify-content: space-between;
}

footer #useful-links .container .infos {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer #useful-links .container .infos .links-container h2 {
  color: white;
  margin-bottom: 10px;
}

footer #useful-links .container .infos .links-container li {
  margin-bottom: 5px;
}

footer #useful-links .container .footer-logo img {
  position: relative;
  top: -100px;
  right: 100px;
  width: 400px;
}

footer #follow-up {
  background-color: #303030;
  padding: 40px 0;
}

footer #follow-up .container {
  justify-content: space-between;
  align-items: center;
}

footer #follow-up .container button {
  background-color: transparent;
  border: 2px solid #0282F9;
  color: white;
  padding: 10px;
}

footer #follow-up .container .social-networks {
  display: flex;
  align-items: center;
}

footer #follow-up .container .social-networks h2 {
  margin-right: 20px;
}

footer #follow-up .container .social-networks ul {
  display: flex;
}

footer #follow-up .container .social-networks ul img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

#jumbotron {
  background-image: url("/storage/assets/images/jumbotron.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
}

main {
  background-color: #1C1C1C;
  color: white;
}

main #series {
  padding-bottom: 20px;
}

main #series .container {
  flex-direction: column;
}

main #series .container .title span {
  padding: 10px 20px;
}

main #series .container .content {
  padding: 50px 10px 0;
}

main #series .container .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main #series .container .content ul li.card {
  width: calc((100% - 100px) / 6);
  margin-bottom: 50px;
  text-transform: uppercase;
}

main #series .container .content ul li.card img {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
}

main #series .container .content ul li.card .card-title {
  width: 160px;
}

main #series .container .more-button {
  text-align: center;
}

main #series .container .more-button button {
  padding: 10px 60px;
  border: 1px solid #0282F9;
}

main #buy {
  background-color: #0282F9;
  padding: 50px;
}

main #buy .container ul {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

main #buy .container ul li {
  display: flex;
  align-items: center;
}

main #buy .container ul li img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: auto;
  display: flex;
}

.bg-blue-text-white {
  background-color: #0282F9;
  color: white;
}

.small-text {
  font-size: 0.7rem;
}

.blue-text {
  color: #0282F9;
}

button {
  cursor: pointer;
}

